@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-base text-slate-200 font-sans antialiased;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-thumb {
  background: #1f2430;
  border-radius: 4px;
}
